{% extends '::base.html.twig' %}
{% block home %}class="active"{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3 col-md-push-8">
            <div class="list-group">
                {% for page in pages %}
                    <a href="{{ path('custom_cms_page_display', { id: page.id }) }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ page.title }}</h4>

                        <p class="list-group-item-text">{{ page.content|slice(0,25) }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-7 col-md-pull-3 col-md-offset-1">
            <div class="panel panel-default">
                {% for page in pages %}
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ page.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ page.content|slice(0,120) }}..<a
                                    href="{{ path('custom_cms_page_display', { id: page.id }) }}">read
                                more</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}