{% extends '::base.html.twig' %}
{% block page %}class="active"{% endblock %}
{% block pages %}class="active"{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Page</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ entity.title }}</td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td>{{ entity.content }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{{ path('cms_page') }}" class="btn btn-sm btn-default pull-left">
                Back to the list
            </a>
            <span class=" pull-right">{{ form(delete_form) }}</span>
            <a href="{{ path('cms_page_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-warning pull-right">
                Edit
            </a>
        </div>
    </div>
{% endblock %}
